<ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
        <a href="#tab1Id" class="nav-link active">Home</a>
        <a href="#tab1Id" class="nav-link active">About</a>
        <a href="#tab1Id" class="nav-link active">Contact</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Lang</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="?lang=vi">🇻🇳</a>
            <a class="dropdown-item" href="?lang=en">🇺🇸</a>
            <a class="dropdown-item" href="?lang=ja">🇯🇵</a>
        </div>
    </li>
    <li class="nav-item">
        <a href="#tab5Id" class="nav-link">Another link</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link disabled">Disabled</a>
    </li>
</ul>